.content__container__main {
  background-color: #f5f5f5;
  width: 100%;
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'spaceHeaderLeft header spaceHeaderRight'
    'spaceContentLeft content spaceRight';
}
.content__container__main__header {
  grid-area: header;
  width: 100%;
  font-size: 2.5em;
  padding-bottom: 8px;
  font-weight: bolder;
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.14);
}
.content__container__main__product {
  display: grid;
  background-color: white;
  padding: 30px;
  grid-area: content;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  grid-template-areas: 
  'image image_input' 
  'name unit_type' 
  'cost quantity' 
  'description description' 
  'deleteButton editButton';
}

.materialButton {
  height: 65px;
  width: 100%;
  color: white;
  font-size: 1.2em;
  background-color: rgba(255, 82, 82, 0.87);
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}

.content__container__main__editButton {
  grid-area: editButton;
}


.content__container__main__deleteButton {
  grid-area: deleteButton;
}

.content__container__main__product__image {
  height: 250px;
  grid-area: image;
  background-image: url('../../assets/loader.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
}
.content__container__main__product__image > img {
  max-height: 250px;
}

/* Image Input */
.content__container__main__product__image_input {
  grid-area: image_input;
}
.content__container__main__product__image_input__title {
  font-size: 1.5em;
}
.content__container__main__product__image_input__input {
  width: 100%;
  font-size: 1.2em;
}

/* Name */
.content__container__main__product__name {
  grid-area: name;
}
.content__container__main__product__name__title {
  font-size: 1.5em;
}
.content__container__main__product__name__input {
  width: 100%;
  font-size: 1.2em;
}

/* Unit Type */
.content__container__main__product__unit_type {
  grid-area: unit_type;
}
.content__container__main__product__unit_type__title {
  font-size: 1.5em;
}
.content__container__main__product__unit_type__input {
  width: 100%;
  font-size: 1.2em;
}

/* Cost */
.content__container__main__product__cost {
  grid-area: cost;
}
.content__container__main__product__cost__title {
  font-size: 1.5em;
}
.content__container__main__product__cost__input {
  width: 100%;
  font-size: 1.2em;
}

/* Quantity */
.content__container__main__product__quantity {
  grid-area: quantity;
}
.content__container__main__product__quantity__title {
  font-size: 1.5em;
}
.content__container__main__product__quantity__input {
  width: 100%;
  font-size: 1.2em;
}

/* Description */
.content__container__main__product__description {
  grid-area: description;
}
.content__container__main__product__description__title {
  font-size: 1.5em;
}
.content__container__main__product__description__textarea {
  width: 100%;
  font-size: 1.2em;
}
